.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #8a2b06;
  margin: 1rem 0;
}

.cart-item h2 {
  margin: 0 0 0.5rem 0;
  color: #363636;
  font-size: 1rem;
}

.cartImage {
  max-height: 140px;
  
}

.summary {
  width: 25rem;
  display: flex;
  align-items: center;
}

.price {
  font-size: 1.3rem;
  font-weight: bold;
  color: #0066cc;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 5px 0px 5px 0px;
}

.amount {
  font-weight: bold;
  border: 1px solid #ccc;
  text-align: center;
  display: inline-block;
  padding: 5px;
  border-radius: 6px;
  color: #363636;
  margin-right: 30px;
}

.priceBox{
  width: 100%;
  display: flex;
  margin-left: -140px;
}

.actions {
  display: flex;
  flex-direction: column;
}

.cart-item button {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  color: #0066cc;
  border: 1px solid #0066cc;
  width: 3rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

.cart-item button:hover,
.cart-item button:active {
  background-color: #0066cc;
  color: white;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .cart-item {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #4a4b50;
    margin: 1rem 0;
  }
  .actions {
    flex-direction: row;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  button:nth-of-type(2) {
    margin-left: 2rem;
  }
  .cart-item h2 {
    margin: 0 0 0.5rem 0;
    color: #363636;
    font-size: 0.9rem;
  }

  .cartImage {
    max-height: 90px;
    text-align: center;
    align-items: center;
  }
  .price {
    font-size: 1.3rem;
    font-weight: bold;
    color: #0066cc;
    margin-left: 1rem;
    margin-right: 2rem;
    padding: 5px 0px 5px 0px;
  }
  
  .amount {
    font-weight: bold;
    border: 1px solid #ccc;
    text-align: center;
    width: 5rem;
    padding: 5px;
    border-radius: 6px;
    color: #363636;
    margin-right: 0px;
  }
  .summary {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .priceBox{
    width: 100%;
    display: flex;
    margin-left: 0px;
  }
}
