.products {
  max-width: 70%;
  width: 100%;
  margin: 2rem auto;
  animation: products-appear 1s ease-out forwards;
}

.products ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

input::placeholder {
  color: rgb(25, 25, 25);
}

.noResults {
  text-align: center;
  font-weight: 600;
}

.filterBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: rgb(0, 17, 255, 0.4);
  ;
  border-radius: 5px;
  width: 100%;
  flex-wrap: wrap;
  /* Hozzáadva: sorok tördelése szükség esetén */

}

.searchBar {
  flex: 1;
  /* Az input fog elfoglalni minél több helyet, ahogy szűkül a képernyő */
  margin-right: 1rem;
  /* Térköz a szűrőelemek között */
}

.sortBy {
  flex: 1;
  /* Azonos arányban fog osztozni a helyen a szűrőelemek között */
  margin-right: 1rem;
}

.sortBy select {
  background-color: white;
}

.productCount {
  flex: 1;
  /* Azonos arányban fog osztozni a helyen a szűrőelemek között */

}

.categoryDescription {
  padding: 0rem;
}

.categoryDescription h2 {
  color: #0066cc;
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 1.2rem;
}

.description {
  color: rgb(58, 54, 54);
}

.title {
  font-size: 10px;
}

.popularProducts {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.popularProducts div {
  flex-basis: calc(25% - 1rem);
  padding-bottom: 1rem;
}

.searchBar input,
.sortBy select {
  width: 100%;
  /* Input mező és select elem teljes szélességű */
  height: 30px;
  max-height: 30px;
}


@keyframes products-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}



/*MOBIL*/
@media screen and (max-width: 767px) {
  .products {
    max-width: 100%;
    width: 100%;
    margin: 2rem auto;
    animation: products-appear 1s ease-out forwards;
  }
  .popularProducts {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .popularProducts div {
    flex-basis: calc(50% - 1rem);
    padding-bottom: 1rem;
  }
  .filterBar {
    flex-direction: column;
    /* Oszlopokba rendeződik a szűrőelemek tartalma */
    text-align: center;
  }

  .searchBar,
  .sortBy,
  .productCount {
    flex: none;
    /* A szélesség fix, nem oszlik többé azonos arányban */
    width: 100%;
    /* Teljes szélességű elemek az oszlopokban */
    margin: 0 0 1rem;
    /* Térköz a szűrőelemek között és az aljához */

  }

  .searchBar {
    padding-top: 1rem;
  }

  .searchBar input,
  .sortBy select {
    width: 100%;
    /* Input mező és select elem teljes szélességű */
    height: 40px;
    max-height: 40px;
  }

  .productCount {
    padding-top: 1rem;
  }
}

/*TABLET*/
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .products {
    max-width: 90%;
    width: 90%;
    margin: 2rem auto;
    animation: products-appear 1s ease-out forwards;
  }
  .popularProducts {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .popularProducts div {
    flex-basis: calc(33% - 1rem);
    padding-bottom: 1rem;
  }
}
