.form {
    text-align: right;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #0066cc;
    border: 1px solid #0066cc;
    color: white;
    padding: 0.25rem 1.5rem;
    margin-top: 1rem;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9rem;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #2580da;
    border-color: #2580da;
  }