.progressBar{
    max-width: 110rem;
    width: 70%;
    margin: 2rem auto;
    list-style: none;
  }

  .products {
    display: flex;
    max-width: 90rem;
    width: 90%;
    margin: 2rem auto;
    animation: products-appear 1s ease-out forwards;
  }

  .items {
    max-width: 110rem;
    width: 70%;
    margin: 2rem auto;
    list-style: none;
  }

  .amount {
    max-width: 22rem;
    width: 30%;
    margin: 2rem auto;
  }

  .titleBox{
    background-color: #c5ddf5;
    padding: 0.5rem;
    margin-bottom: 2rem;
  }

  .fields {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
  }
  
  .fields input {
    height: 45px;
    width: 100%;
    margin-top: 0.5rem;
  }

  .inputBox{
    width: calc(100% / 2 - 20px);
  }

  .shortField{
    width: 40%;
  }

 .fields input {
    border-radius: 10px;
    border: 1px solid;
    padding: 0.3rem;
    margin-bottom: 1rem;
  }

  .deliveryCheckbox, input[type="checkbox"] {
    color: black;
    display: inline;
    margin-right: 1rem;
  }

  .fieldsComment{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (max-width: 768px) {
    .progressBar{
      max-width: 100%;
      width: 90%;
      margin: 2rem auto;
      list-style: none;
    }
    .products {
      display: block;
      max-width: 100%;
      width: 100%;
      margin: 2rem auto;
      animation: products-appear 1s ease-out forwards;
    }
    .amount {
      max-width: 22rem;
      width: 100%;
      margin: 2rem auto;
      margin-top: 2rem; /* Hozzáadott tulajdonság */
    }
    .items {
      max-width: 100%;
      width: 90%;
      margin: 2rem auto;
      list-style: none;
    }
    ul {
      padding-inline-start: 0px;
    }
    .fields{
      display: block;
    }
    .inputBox{
      width: calc(100% - 20px);
    }
    .fieldsComment{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }