.progressBar{
    max-width: 110rem;
    width: 70%;
    margin: 2rem auto;
    list-style: none;
  }

  .products {
    display: flex;
    max-width: 90rem;
    width: 90%;
    margin: 2rem auto;
    animation: products-appear 1s ease-out forwards;
  }

  .items {
    max-width: 110rem;
    width: 70%;
    margin: 2rem auto;
    list-style: none;
  }

  .amount {
    max-width: 22rem;
    width: 30%;
    margin: 2rem auto;
  }

  .titleBox{
    background-color: #c5ddf5;
    padding: 0.5rem;
    margin-bottom: 2rem;
  }

  .fields {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
  }
  
  .fields input {
    height: 45px;
    width: 100%;
    margin-top: 0.5rem;
  }

  .inputBox{
    width: calc(100% / 2 - 20px);
  }

  .shortField{
    width: 40%;
  }

 .fields input {
    border-radius: 10px;
    border: 1px solid;
    padding: 0.3rem;
    margin-bottom: 1rem;
  }

  .deliveryCheckbox, input[type="checkbox"] {
    color: black;
    display: inline;
    margin-right: 1rem;
  }

  .fieldsComment{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .requiredField{
    color: rgb(224, 19, 19);
    font-weight: 600;
    text-align: center;
    font-size: 15px;
    margin-bottom: 1rem;
  }

  textarea {
    resize: none; /* Letiltja a felhasználó általi átméretezést */
    width: 100%; /* Teljes szélességű legyen */
    max-width: 100%; /* Ne nyúljon túl a szülő elem szélességén */
    box-sizing: border-box; /* A padding és a border ne növelje a szélességet */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  

  @media (max-width: 768px) {
    .progressBar{
      max-width: 100%;
      width: 90%;
      margin: 2rem auto;
      list-style: none;
    }
    .products {
      display: block;
      max-width: 100%;
      width: 100%;
      margin: 2rem auto;
      animation: products-appear 1s ease-out forwards;
    }
    .amount {
      max-width: 22rem;
      width: 100%;
      margin: 2rem auto;
      margin-top: 2rem; /* Hozzáadott tulajdonság */
    }
    .items {
      max-width: 100%;
      width: 90%;
      margin: 2rem auto;
      list-style: none;
    }
    ul {
      padding-inline-start: 0px;
    }
    .fields{
      display: block;
    }
    .inputBox{
      width: calc(100% - 20px);
    }
    .fieldsComment{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  @media (min-width: 768px) and (max-width: 991px){
    .progressBar {
      max-width: 90%;
      width: 90%;
      display: block;
      justify-content: center;
      list-style: none;
      margin: 0rem auto;
    }
    .detailsChoose {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0rem 0 1rem 1rem;
      width: 100%;
    }
    .products {
      /*FEHÉR BLOKK*/
      display: block;
      max-width: 90%;
      width: 90%;
    }
    .items {
      width: 100%;
      padding: 0rem 0rem;
      list-style: none;
    }
    .titleBox {
      background-color: #c5ddf5;
      padding: 1rem;
    }
    h2 {
      font-size: 1.2rem;
      text-align: center;
    }
    h1 {
      font-size: 1rem;
    }
    .detailsChoose {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0rem 0 1rem 1rem;
    }
    .amount {
      max-width:100%;
      width: 100%;
      margin: 0rem auto;
    }
    .onlinePay {
      width: 10rem;
    }
  }