.products {
  display: flex;
  max-width: 90rem;
  width: 90%;
  margin: 2rem auto;
  animation: products-appear 1s ease-out forwards;
}

.title {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.items {
  max-width: 110rem;
  width: 70%;
  margin: 2rem auto;
  list-style: none;
}

p {
  margin: 0;
}

.amount {
  max-width: 22rem;
  width: 30%;
  margin: 2rem auto;
}

.progressBar{
  max-width: 110rem;
  width: 70%;
  margin: 2rem auto;
  list-style: none;
}

  /* Töréspont 3 - Mobil méretek */
  @media (max-width: 480px) {
    .progressBar{
      max-width: 100%;
      width: 90%;
      margin: 2rem auto;
      list-style: none;
    }
    .products {
      display: block;
      max-width: 100%;
      width: 100%;
      margin: 2rem auto;
      animation: products-appear 1s ease-out forwards;
    }
    .amount {
      max-width: 22rem;
      width: 100%;
      margin: 2rem auto;
      margin-top: 2rem; /* Hozzáadott tulajdonság */
    }
    .items {
      max-width: 100%;
      width: 90%;
      margin: 2rem auto;
      list-style: none;
    }
    ul {
      padding-inline-start: 0px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
  .progressBar{
    max-width: 100%;
    width: 90%;
    margin: 2rem auto;
    list-style: none;
  }
  .products {
    display: block;
    max-width: 100%;
    width: 100%;
    margin: 2rem auto;
    animation: products-appear 1s ease-out forwards;
  }
  .amount {
    max-width: 90%;
    width: 90%;
    margin: 2rem auto;
    margin-top: 2rem; /* Hozzáadott tulajdonság */
  }
  .items {
    max-width: 100%;
    width: 90%;
    margin: 2rem auto;
    list-style: none;
  }
  ul {
    padding-inline-start: 0px;
  }
}
