  .radioConatiner{
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
  }
  
  .radio-wrapper-19 {
    box-sizing: border-box;
    --background-color: #fff;
    --radio-height: 25px;
    padding-left: 1rem;
  }

  @-moz-keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--radio-height) / 2);
    }
  }

  @-webkit-keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--radio-height) / 2);
    }
  }

  @keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--radio-height) / 2);
    }
  }

  @keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--radio-height) * 1.2);
    }
  }

  @-webkit-keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--radio-height) * 1.2);
    }
  }

  @-moz-keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--radio-height) * 1.2);
    }
  }

  .radio-wrapper-19 input[type=radio] {
    display: none;
  }

  .radio-wrapper-19 .radio-box {
    height: var(--radio-height);
    width: var(--radio-height);
    background-color: transparent;
    border: calc(var(--radio-height) * .1) solid #000;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
  }
  .radio-wrapper-19 .radio-box::before,
  .radio-wrapper-19 .radio-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(var(--radio-height) * .2);
    background-color: #34b93d;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
  }
  .radio-wrapper-19 .radio-box::before {
    top: calc(var(--radio-height) * .72);
    left: calc(var(--radio-height) * .41);
    box-shadow: 0 0 0 calc(var(--radio-height) * .05) var(--background-color);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .radio-wrapper-19 .radio-box::after {
    top: calc(var(--radio-height) * .37);
    left: calc(var(--radio-height) * .05);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .radio-wrapper-19 input[type=radio]:checked + .radio-box,
  .radio-wrapper-19 .radio-box.checked {
    border-color: #34b93d;
  }
  .radio-wrapper-19 input[type=radio]:checked + .radio-box::after,
  .radio-wrapper-19 .radio-box.checked::after {
    height: calc(var(--radio-height) / 2);
    -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    animation: dothabottomcheck-19 0.2s ease 0s forwards;
  }
  .radio-wrapper-19 input[type=radio]:checked + .radio-box::before,
  .radio-wrapper-19 .radio-box.checked::before {
    height: calc(var(--radio-height) * 1.2);
    -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
    animation: dothatopcheck-19 0.4s ease 0s forwards;
  }

